#messages-container.row.fight-navbar-margin
  #messages-controls.col-md-2
    .col-md-12
      .row.text-center
        = button_tag :compose, :class => "btn btn-default", :value => "Compose"
      .row
        .col-md-12.text-right
          %ul.list-unstyled
            %li
              = link_to "Inbox"
            %li
              = link_to "Sent"
            %li
              = link_to "Drafts"
  #messages-list.col-md-4
    .panel.message-panel
      .panel-body
        .row
          .col-md-8
            %h5
              Username
          .col-md-4
            %small
              = distance_of_time_in_words(Time.now + 5000, Time.now)
        %p
          Lorem ipsum text and stuff bro.
    .panel.message-panel
      .panel-body
        .row
          .col-md-8
            %h5
              Username
          .col-md-4
            %small
              = distance_of_time_in_words(Time.now + 5000, Time.now)
        %p
          Lorem ipsum text and stuff bro.
    .panel.message-panel
      .panel-body
        .row
          .col-md-8
            %h5
              Username
          .col-md-4
            %small
              = distance_of_time_in_words(Time.now + 5000, Time.now)
        %p
          Lorem ipsum text and stuff bro.

  #messages-display.col-md-6
    .col-md-12
      Even more stuff