.login-form
  .container
    .col-md-4.col-md-offset-4
      / User Sign Up Form
      = form_tag(sessions_create_path) do
        .panel.panel-default.modern
          .panel-heading.text-center
            %h3.login-title
              SpaceLender
          .panel-body
            - if flash.now[:alert]
              .error.text-center.padded-sides
                = flash.now[:alert]
            - elsif flash[:notice]
              .success.text-center.padded-sides
                = flash[:notice]
            = text_field_tag :email, nil, :class => "form-control", :placeholder => "Email"
            = password_field_tag :password, nil, :class => "form-control", :placeholder => "Password"
          .panel-footer
            = submit_tag "Login", :class => "btn btn-primary form-control"

    .col-md-4.col-md-offset-4
      .row
        .col-md-6
          %small
            = link_to "Click here to Register", registration_path
        .col-md-6.text-right
          %small
            = link_to "Forgot your password?"

.homepage-footer
  = render 'layouts/footer'