#reservation-modal.modal.fade
  .modal-dialog
    .modal-content
      = form_for [@listing, @reservation], :html => { :id => "new-reservation-form" } do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          / The modal title will change dynamically, so we can statically set the first tab's title for initial page load
          %h4.modal-title.reservation-modal-title Select Rate
        .modal-body

          / BOOK IT Form
          = hidden_field_tag :stripeToken, :id => "stripeToken", :value => ""
          #reservation-step-1.reservation-inner-tab.active.row{ "data-modal-title" => "Select Rate"}
            .col-md-12
              = f.fields_for :rate do |r|
                = r.hidden_field :date_range, :id => "date-range-hidden", :value => ""
                - if @listing.rates
                  .fieldset
                    - @listing.rates.each_with_index do |rate, index|
                      .form-group{:id => "#{index}_rate"}
                        = r.radio_button :amount, "#{rate.amount}", :class => "rate-radio-btn", "data-time-range" => "#{rate.date_range}", :value => "#{rate.amount}"
                        = r.label :rate, "#{number_to_currency(rate.amount)} #{rate.date_range}"
                        %br
          #reservation-step-2.reservation-inner-tab.row{ "data-modal-title" => "Select Date"}
            .col-md-12
              #hour.time-range-section
                #hour-times.row
                  = f.fields_for :period do |p|
                    .col-md-6
                      = p.label :start
                      = p.text_field :start, :id => "start", :class => "form-control"
                    .col-md-6
                      = p.label :end
                      = p.text_field :end, :id => "end", :class => "form-control"
                    .col-md-12
                      .date-range-status
                    %br
                .row
                  #total-time.validation-message.col-md-6.col-md-offset-6.col-md-pull-6
                    .row
                      .col-md-6
                        %small
                          Total Time:
                      .col-md-6
                        %span.total-time-amount
                          0 hrs
                    .row
                      .col-md-6
                        %small
                          Est. Total*:
                      .col-md-6
                        %span.estimated-total-amount
                          $0.00
                  .row
                    .col-md-12
                      %small.small-disclaimer
                        .col-md-6
                          * Does not include service fees.
          #reservation-step-3.reservation-inner-tab.row{ "data-modal-title" => "State Your Purpose"}
            .col-md-12
              = f.text_area :purpose, :class => "form-control", :id => "state-purpose-textarea", :placeholder => "Please use this area to briefly state the reason you want to rent to this space as well as any special requests you may have for the lister.", :rows => 5
          #reservation-step-4.reservation-inner-tab.row{ "data-modal-title" => "Payment Method" }
            .col-md-12
              .row
                .col-md-6
                  = text_field_tag :card_number, "", :name => "", :class => "form-control", :placeholder => "Card Number", "data-stripe" => "number"
                .col-md-3
                  = select_tag :exp_month, options_for_select(credit_card_months), { name: "", class: "form-control", "data-stripe" => "exp-month", :prompt => "Exp. Month (MM)" }
                .col-md-3
                  = text_field_tag :exp_year, "", :name => "", :class => "form-control", "data-stripe" => "exp-year", :placeholder => "Exp. Year (YYYY)", :size => 4
              .row
                .col-md-4
                  = text_field_tag :cvc, "", :name => "", :class => "form-control", :placeholder => "CVC", "data-stripe" => "cvc"
                .col-md-8
                  = text_field_tag :name, "", :name => "", :class => "form-control", :placeholder => "Name on Card"
            .col-md-12
              .col-md-12
                .row
                  %small
                    We Accept:
                  %ul.list-unstyled.list-inline.we-accept
                    %li
                      %i.fa.fa-cc-visa.fa-2x
                    %li
                      %i.fa.fa-cc-mastercard.fa-2x
                    %li
                      %i.fa.fa-cc-amex.fa-2x
                    %li
                      %i.fa.fa-cc-discover.fa-2x
                
                
          #reservation-step-5.reservation-inner-tab.row{ "data-modal-title" => "Review"}
            .col-md-12
              .row
                .col-md-12
                  %p
                    Please review all details of your reservation to ensure accuracy.
              .payment-errors
              %table.table.table-striped
                %tbody
                  %tr
                    %th
                      Listing
                    %td
                      = @listing.name
                  %tr
                    %th
                      Dates
                    %td.review-dates
                  %tr
                    %th
                      Rate
                    %td.review-rates
                %tfoot
                  %tr
                    %th
                      Total
                    %td.review-total



                    

        .modal-footer
          / Next Button only (First Tab)
          .row.next-btn-only.next-prev-btns.active
            .col-md-12.text-right
              = render 'layouts/next_btn'

          / Both buttons
          .row.both-btns.next-prev-btns
            .col-md-6.text-left
              = render 'layouts/prev_btn'
            .col-md-6.text-right
              = render 'layouts/next_btn'

          / Prev Button only (Last Tab)
          .row.prev-btn-only.next-prev-btns
            .col-md-6.text-left
              = render 'layouts/prev_btn'
            .col-md-6.text-right
              = f.submit "Place Order", :id => "place-order", :class => "btn btn-primary btn-primary-submit form-control"