= render 'layouts/dashboard_nav'

#dashboard-content.row.section.no-shadow
  .col-md-12
    #main-dashboard.panel.panel-default.modern.dashboard-tab
      .panel-body.tab-display
        .form-container.row
          .col-md-6
            = render 'listings/my_reservations'
            = render 'listings/news_feed'
          .col-md-6
            .col-md-12.padded
              .panel.panel-default.modern
                .panel-body.padded
                  .row
                    .col-md-3
                      = image_tag Listing.first.pictures.first.image.url(:thumb)
                    .col-md-9
                      %h4
                        = "#{@current_user.first_name} #{@current_user.last_name}"
                      %p
                        %strong
                          Ratings
                      .col-md-6
                        %table.table.table-bordered
                          %tbody
                            %tr
                              %td
                                Lender
                              %td
                                8.9
                            %tr
                              %td
                                Renter
                              %td
                                9.4
