= render 'layouts/dashboard_nav'

#dashboard-content.row.section.no-shadow
  .loading-overlay
    = image_tag "ring.gif", :class => "loading-gif"
  .col-md-12
    #list-a-space.panel.panel-default.modern.dashboard-tab
      = form_for @listing, :html => {:id => "new-listing-form", :multipart => true, :class => "clearfix dropzone"} do |f|
        .panel-body.tab-display
          .form-container.row

            .col-md-12

              .col-md-2
                / Tab List
                %ul.list-unstyled.col-md-12.list-group.generic-tabs-list.inner-tabs-list
                  %li.list-group-item
                    = link_to "#name", :class => "inner-tab-link active start-tab" do
                      1. Name & Desc.
                  %li.list-group-item
                    = link_to "#address", :class => "inner-tab-link" do
                      2. Location
                  %li.list-group-item
                    = link_to "#dates", :class => "inner-tab-link" do
                      3. Dates
                  %li.list-group-item
                    = link_to "#rates", :class => "inner-tab-link" do
                      4. Rates
                  %li.list-group-item
                    = link_to "#upload-pictures", :class => "inner-tab-link end-tab" do
                      5. Pics

              / Tabs - Each Step is its own tab.
              #steps.col-md-9

                - if @listing.errors
                  %ul
                    - @listing.errors.full_messages.each do |error|
                      %li.error
                        = error


                / Step 1: Name and Description
                #name.inner-tab.active.col-md-12
                  .panel.panel-default.modern
                    .panel-body.padded-sides
                      %h4 Listing Name &amp; Description
                    %table.table.table-bordered
                      %tbody
                        %tr
                          %td
                            = f.text_field :name, :class => "form-control", :placeholder => "Name"
                        %tr
                          %td
                            = f.text_area :description, :id => "description", :class => "form-control", :placeholder => "Description", :rows => "6"




                / Step 2: List the Address
                #address.inner-tab.col-md-12
                  .panel.panel-default.modern
                    .panel-body.padded-sides
                      %h4 Location of Your Listing
                    %table.table.table-bordered
                      = f.fields_for :location do |l|
                        %tbody
                          %tr
                            %td{ :colspan => "4"}
                              = l.text_field :street_address, :class => "form-control", :placeholder => "Street Address"
                          %tr
                            %td.col-md-6
                              = l.text_field :city, :class => "form-control", :placeholder => "City"
                            %td.col-md-2
                              = l.select :state, options_for_select(us_states), {:prompt => "State"}, class: "form-control"
                            %td.col-md-2
                              = l.text_field :zip, :class => "form-control", :placeholder => "Zip"
                            %td.col-md-2
                              = l.select :country, options_for_select(countries), {:prompt => "Country"}, class: "form-control"
                    
                  .col-md-12
                    %small
                    Don't worry! We only display the city name and state on SpaceLender. The full address is only given when you accept a reservation request.




                / Step 3: Specify Dates
                #dates.inner-tab.col-md-12
                  - if @listing.periods.first.start && @listing.periods.first.end
                    = f.hidden_field :always_available, :id => "always-available-hidden-field", :value => false
                  - else
                    = f.hidden_field :always_available, :id => "always-available-hidden-field", :value => true
                  %h4
                    Dates
                  #dates-selection.row
                    .col-md-12
                      .col-md-6.padded-sides
                        #always-available.panel.panel-default.modern.padded.date-option.active
                          .panel-body.text-center
                            %big
                              Always Available
                            .col-md-12.text-center
                              %i.fa.fa-calendar-o.fa-fw.fa-5x
                            .col-md-12.text-center
                              %i.fa.fa-calendar-check-o.fa-fw.fa-5x
                            %p
                              %small
                                This listing will be continuously available to the public to view and request. It will only be deactivated when you manually do so yourself.

                      .col-md-6.padded-sides
                        #specific-dates.panel.panel-default.modern.padded.date-option
                          .panel-body.text-center
                            %big
                              Specific Dates
                            .col-md-12.text-center
                              %i.fa.fa-calendar-o.fa-fw.fa-5x
                            .col-md-12.text-center
                              %i.fa.fa-calendar-check-o.fa-fw.fa-5x
                            %p
                              %small
                                This listing will only be available to the public between the specified dates. Once the final date for the listing has passed, it will deactivate itself. You can deactivate it at any time.
                          .panel-body.text-center
                            #specific-dates-fields
                              = f.fields_for :periods do |d|
                                - if @listing.periods.first.start && @listing.periods.first.end
                                  .col-md-6
                                    = d.text_field :start, :id => "start-date-edit", :class => "form-control", :placeholder => "Start"
                                  .col-md-6
                                    = d.text_field :end, :id => "end-date-edit", :class => "form-control", :placeholder => "End"
                                - else
                                  .col-md-6
                                    = d.text_field :start, :id => "start-date-edit", :class => "form-control", :placeholder => "Start"
                                  .col-md-6
                                    = d.text_field :end, :id => "end-date-edit", :class => "form-control", :placeholder => "End"




                / Step 4: Add Rates
                #rates.inner-tab.col-md-12
                  .panel.panel-default.modern
                    .panel-body.padded-sides
                      %h4 Rates
                    %table.table.table-bordered
                      %tbody
                        %tr

                          / Hourly
                          = f.fields_for :rates, @listing.rates.build do |r|
                            %td
                              = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 1
                            %td
                              = r.text_field :date_range, :class => "form-control", :value => "hourly", :readonly => "readonly"

                        / Daily
                        %tr
                          = f.fields_for :rates, @listing.rates.build do |r|
                            %td
                              = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 2
                            %td
                              = r.text_field :date_range, :class => "form-control", :value => "daily", :readonly => "readonly"
                          
                          / Weekly
                          %tr
                          = f.fields_for :rates, @listing.rates.build do |r|
                            %td
                              = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 3
                            %td
                              = r.text_field :date_range, :class => "form-control", :value => "weekly", :readonly => "readonly"

                          / Monthly
                          %tr
                          = f.fields_for :rates, @listing.rates.build do |r|
                            %td
                              = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 4
                            %td
                              = r.text_field :date_range, :class => "form-control", :value => "monthly", :readonly => "readonly"
                        



                / Step 5: Upload Pictures
                #upload-pictures.inner-tab.col-md-12
                  .panel.panel-default.modern
                    .panel-body.padded-sides
                      %h4 Upload Pictures
                    %table.table.table-bordered
                      %tbody
                        %tr
                          %td
                            = f.fields_for :pictures do |p|
                              = p.file_field :image, :name => "image[]", :id => "upload-images-field", :style => "display: none;"

                            / Drop files here to upload
                            .dropzone-area.col-md-12

                  = f.submit "Post Listing!", :class => "form-control btn btn-primary"




            / Next and Prev btns
            .col-md-12.text-center
              = button_tag :class => "btn btn-default prev-btn directional-btn" do
                %i.fa.fa-angle-left.fa-fw.fa-lg
                Prev
              = button_tag :class => "btn btn-default next-btn directional-btn" do
                Next
                %i.fa.fa-angle-right.fa-fw.fa-lg


:javascript
  $(document).ready(function() {
    // DateTime pickers for Start and End dates (in "List A Space > 3. Dates")
    $("#start-date-edit").datetimepicker({
      format: "ddd, MMM D",
      minDate: moment().add('hours', 3),
      sideBySide: true,
      stepping: 0,
    }).on("dp.change", function(e) {
      var selectedDate = e.date;
      $("#end-date").data("DateTimePicker").minDate(selectedDate.add('hours', 1));
      //$("#end").data("DateTimePicker").defaultDate(selectedDate.add('hours', '1'));
      //$("#end").data("DateTimePicker").maxDate(selectedDate.add('days', 1));
    });

    $("#end-date-edit").datetimepicker({
      format: "ddd, MMM D",
      sideBySide: true,
      minDate: moment().add('hours', 4),
      stepping: 0,
      defaultDate: "#{@listing.periods.first.end.strftime('%a, %b %e')}"
    }).on("dp.change", function(e) {
      var selectedDate = e.date;
      $("#start-date").data("DateTimePicker").maxDate(selectedDate.subtract('hours', 1));
    });
  });