= render 'layouts/dashboard_nav'

#dashboard-content.row.section.no-shadow
  .col-md-12
    #list-a-space.panel.panel-default.modern.dashboard-tab
      = form_for @listing, :html => {:id => "edit-listing-form", :multipart => true, :class => "clearfix"} do |f|
        .panel-body.tab-display
          .form-container.row

            .col-md-8.col-md-offset-2 

              %h5 Listing Name 
              = f.text_field :name, :class => "form-control", :placeholder => "Name"

              %h5 Description
              = f.text_area :description, :id => "description", :class => "form-control", :placeholder => "Description", :rows => "6"


              %h5 Listing Address
              = f.fields_for :location do |l|
                .panel.modern
                  %table.table.table-bordered
                    %tbody
                      %tr
                        %td{ :colspan => "5" }
                          = l.text_field :street_address, :class => "form-control", :placeholder => "Street Address"
                      %tr
                        %td.col-md-4
                          = l.text_field :city, :class => "form-control", :placeholder => "City"
                        %td.col-md-3
                          = l.select :state, options_for_select(us_states), {:prompt => "State"}, class: "form-control"
                        %td.col-md-2
                          = l.text_field :zip, :class => "form-control", :placeholder => "Zip"
                        %td.col-md-3
                          = l.select :country, options_for_select(countries), {:prompt => "Country"}, class: "form-control"

              %h5 Dates
              - if @listing.periods.first.start.nil? && @listing.periods.first.end.nil?
                = f.hidden_field :always_available, :id => "always-available-hidden-field", :value => true
              - else
                = f.hidden_field :always_available, :id => "always-available-hidden-field", :value => false

              = @listing.periods.first.start.nil?
              #dates-edit
                #dates-selection.row
                  .col-md-6
                    #always-available.panel.panel-default.modern.padded.date-option.active
                      .panel-body.text-center
                        %big
                          Always Available
                        .col-md-12.text-center
                          %i.fa.fa-calendar-o.fa-fw.fa-5x
                        .col-md-12.text-center
                          %i.fa.fa-calendar-check-o.fa-fw.fa-5x
                        %p
                          %small
                            This listing will be continuously available to the public to view and request. It will only be deactivated when you manually do so yourself.

                  .col-md-6
                    #specific-dates.panel.panel-default.modern.padded.date-option
                      .panel-body.text-center
                        %big
                          Specific Dates
                        .col-md-12.text-center
                          %i.fa.fa-calendar-o.fa-fw.fa-5x
                        .col-md-12.text-center
                          %i.fa.fa-calendar-check-o.fa-fw.fa-5x
                        %p
                          %small
                            This listing will only be available to the public between the specified dates. Once the final date for the listing has passed, it will deactivate itself. You can deactivate it at any time.
                      .panel-body.text-center
                        #specific-dates-fields
                          - if @listing.periods.first.start.nil? && @listing.periods.first.end.nil?
                            = f.fields_for :periods, @listing.periods.build do |d|
                              .col-md-6
                                = d.text_field :start, :id => "start-date", :class => "form-control", :placeholder => "Start"
                              .col-md-6
                                = d.text_field :end, :id => "end-date", :class => "form-control", :placeholder => "End"
                          - else
                            = f.fields_for :periods, @listing.periods.build do |d|
                              .col-md-6
                                = d.text_field :start, :id => "start-date", :class => "form-control", :placeholder => "Start"
                              .col-md-6
                                = d.text_field :end, :id => "end-date", :class => "form-control", :placeholder => "End"


              %h5 Rates
              .panel.modern
                %table.table.table-bordered
                  %tbody
                    / Hourly
                    = f.fields_for :rates, @listing.rates.build do |r|
                      %tr
                        %td
                          = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 1
                        %td
                          = r.text_field :date_range, :class => "form-control", :value => "hourly", :readonly => "readonly"
                    / Daily
                    = f.fields_for :rates, @listing.rates.build do |r|
                      %tr
                        %td
                          = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 2
                        %td
                          = r.text_field :date_range, :class => "form-control", :value => "daily", :readonly => "readonly"
              
              / Weekly
              / = f.fields_for :rates, @listing.rates.build do |r|
              /   = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 3
              /   = r.text_field :date_range, :class => "form-control", :value => "weekly", :readonly => "readonly"

              / Monthly
              / = f.fields_for :rates, @listing.rates.build do |r|
              /   = r.text_field :amount, :class => "form-control autonumeric-amount", :placeholder => "Amount", data: {autonumeric: { aSign: 'USD $' }}, :tabindex => 4
              /   = r.text_field :date_range, :class => "form-control", :value => "monthly", :readonly => "readonly"
          

              = f.fields_for :pictures do |p|
                = p.file_field :image, :name => "image[]", :id => "upload-images-field", :style => "display: none;"

              / Drop files here to upload
              /.dropzone-area.col-md-12

              %hr
              = f.submit "Post Listing!", :class => "form-control btn btn-primary"




:javascript
  $(document).ready(function() {
    // DateTime pickers for Start and End dates (in "List A Space > 3. Dates")
    $("#start-date-edit").datetimepicker({
      format: "ddd, MMM D",
      minDate: moment().add('hours', 3),
      sideBySide: true,
      stepping: 0,
    }).on("dp.change", function(e) {
      var selectedDate = e.date;
      $("#end-date").data("DateTimePicker").minDate(selectedDate.add('hours', 1));
      //$("#end").data("DateTimePicker").defaultDate(selectedDate.add('hours', '1'));
      //$("#end").data("DateTimePicker").maxDate(selectedDate.add('days', 1));
    });

    $("#end-date-edit").datetimepicker({
      format: "ddd, MMM D",
      sideBySide: true,
      minDate: moment().add('hours', 4),
      stepping: 0,
      defaultDate: "#{@listing.periods.first.end.strftime('%a, %b %e')}"
    }).on("dp.change", function(e) {
      var selectedDate = e.date;
      $("#start-date").data("DateTimePicker").maxDate(selectedDate.subtract('hours', 1));
    });

    if (#{@listing.periods.first.start.nil?} && #{@listing.periods.first.end.nil?}) {
      // Always Available
      $("#always-available").click();
    } else {
      // Specific Dates
      $("#specific-dates").click();
    }
  });