.container
  #tab-container.col-md-12
    .row
      #tab-list-container.col-md-3
        %ul.tab-list.list-unstyled
          %li.active
            = link_to "#my_listings" do
              %i.fa.fa-newspaper-o.fa-fw
              My Listings
          %li
            = link_to "#reservations" do
              %i.fa.fa-key.fa-fw
              Reservations
      #tab-display.col-md-9
        #my_listings.tab.active
          = render 'layouts/my_listings'
        #reservations.tab
          = render 'layouts/reservations'
= render 'layouts/footer'

:javascript
  $(document).ready(function() {
    $(".tab-list li a").on("click", function(e) {
      e.preventDefault();

      var id = $(this).attr("href");

      $(this).parent().siblings().removeClass("active");
      $(this).addClass("active");

      $(".tab").removeClass("active");
      $(id).addClass("active");
    });
  });