.row
  .container
    .col-md-2
      %ul.list-unstyled.list-group.features-list
        %li
          = link_to "#list-space", :class => "tab-link active" do
            List Space
        %li
          = link_to "#listings", :class => "tab-link" do
            Listings
        %li
          = link_to "#reservations", :class => "tab-link" do
            Reservations
        %li
          = link_to "#payments", :class => "tab-link" do
            Payments
    .col-md-10
      #list-space.tab.active
        = render 'layouts/list_space'
      #listings.tab
        = render 'layouts/my_listings'
      #reservations.tab
        = render 'layouts/reservations'
      #payments.tab
= render 'layouts/footer'
          


:javascript
  $(document).ready(function() {
    $(".tab-link").on("click", function(e) {
      e.preventDefault();

      var id = $(this).attr('href');
      var index;

      $(".tab-link").removeClass("active");
      $(this).addClass("active");

      $(".tab").removeClass("active");
      $(id).addClass("active");
    });
  });
