#listings-panel.row.fight-navbar-margin
  .container
    .col-md-3
      .panel.panel-default
        %ul.list-unstyled.list-group.features-list
          %li.list-group-item.actively
            = link_to "#main-dashboard", :id => "main-dash-link", :class => "tab-link active" do
              Main
          %li.list-group-item
            = link_to "#listings", :id => "my_listings_link", :class => "tab-link" do
              Listings
          - if @stripe_is_connected
            %li.list-group-item
              = link_to "#list-space", :id => "list-a-space-link", :class => "tab-link" do
                List A Space
          - else
            %li.list-group-item.disabled{ "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Please Connect with Stripe first." }
              List A Space
              %i.fa.fa-lock.fa-fw.fa-lg
              %p.small-disclaimer
                Requires a connected Stripe account
            .tooltip.top{:role => "tooltip"}
              .tooltip-arrow
              .tooltip-inner
                Please Connect with Stripe first.
          %li.list-group-item
            = link_to "#reservations", :class => "tab-link" do
              Reservations
          %li.list-group-item
            = link_to "#payments", :class => "tab-link" do
              Payments
    .col-md-9
      #main-dashboard.tab.active
        = render 'layouts/main_dashboard'
      #listings.tab
        = render 'layouts/my_listings'
      #list-space.tab
        = render 'layouts/list_space'
      #reservations.tab
        = render 'layouts/reservations'
      #payments.tab
        = render 'layouts/payments'
= render 'layouts/footer'
          


:javascript
  $(document).ready(function() {

    $(".tab-link").on("click", function(e) {
      e.preventDefault();

      var id = $(this).attr('href');
      var index;

      $(".tab-link").removeClass("active");
      $(this).addClass("active");

      $(".features-list .list-group-item").removeClass("actively");
      $(this).parent().addClass("actively");

      $(".tab").removeClass("active");
      $(id).addClass("active");
    });

    if ("#{params[:q]}" === "ls") {
      $("#list-a-space-link").click();
    }
  });
