.container
  .panel.panel-default
    .panel-body
      .row
        .col-md-8
          .col-md-12
            %h3
              New Listing
      .row
        = form_for @listing, :html => {:id => "newlisting_form", :multipart => true} do |f|
          .col-md-8
            .col-md-12
              = f.text_field :name, :class => "form-control", :placeholder => "Name"
              = f.text_field :description, :id => "description", :class => "form-control", :placeholder => "Description", 'data-provider' =>  'summernote'
           
            #address.col-md-12
              %h4
                Address
              = f.fields_for :location do |l|
                = l.text_field :street_address, :class => "form-control", :placeholder => "Street Address"
                .row
                  .col-md-6
                    = l.text_field :city, :class => "form-control", :placeholder => "City"
                  .col-md-2
                    = l.select :state, options_for_select(us_states), {:prompt => "State"}, class: "form-control"
                  .col-md-2
                    = l.text_field :zip, :class => "form-control", :placeholder => "Zip"
                  .col-md-2
                    = l.text_field :country, options_for_select(countries), {:prompt => "Country"}, class: "form-control"
                  
            #rates.col-md-12
              %h4
                Rates
                %span.add-subtract-rate-forms
                  %i#add-rate-form.fa.fa-plus-square-o.fa-lg
                  %i#subtract-rate-form.fa.fa-minus-square-o.fa-lg

              / Show at least one "Rates" form
              = render :partial => 'listings/rates_form', :locals => { :f => f }

              #additional-rate-forms
              / I am not proud of this
              :javascript
                $(document).ready(function() {
                  $("#add-rate-form").on("click", function(e) {
                    e.preventDefault();
                    $("#additional-rate-forms").append("#{ escape_javascript( render :partial => 'listings/rates_form', :locals => {:f => f} ) }");

                    if ($("#additional-rate-forms").children().length == parseInt("#{times.count}") - 1) {
                      $("#add-rate-form").hide();
                    } else {
                      $("#add-rate-form").show();
                    }
                  });
                });

            #upload-pictures.col-md-12
              %h4
                Upload Pictures
            = f.fields_for :pictures do |p|
              = p.file_field :image, :multiple => true, :name => "image[]"
            .col-md-12
              = f.submit "Post Listing", :class => "btn btn-primary"
          .col-md-4
            .col-md-12
              .panel.panel-default
                .panel-heading
                  Don't know how to "sell" your space? Here's some ways you can lend your space and attract the right crowd:
                  %br
                  %br
                  %ul
                    %li
                      birthday parties
                    %li
                      get-togethers a.k.a. "gettys"
                    %li
                      weddings
                    %li
                      band practices
                    %li
                      auctions
                    %li
                      corporate events
                    %li
                      sports games & practices
                    %li
                      networking events
          
       


:javascript
  $(document).ready(function(event) {
    $('[data-provider="summernote"]').each(function(){
      $(this).summernote({
        height: 300
       });
    });

    // Remove the last "Rate row" when minus button is clicked
    $("#subtract-rate-form").on("click", function(e) {
      e.preventDefault();
      $("#additional-rate-forms").children().last().remove();

      if ($("#additional-rate-forms").children().length == parseInt("#{times.count}") - 1) {
        $("#add-rate-form").hide();
      } else {
        $("#add-rate-form").show();
      }
    });
    
    $('#newlisting_form').submit(function(){
      $("#description").val($('[data-provider="summernote"]').code());
    });
    
  });