%style
  html, body { height: 100%; }
- if @results.size > 0
  .row
    #search-results-container.col-md-7.left-column
      .row
        .col-md-12
          .col-md-6
            = button_tag :id => "filter-dropdown-btn", :class => "btn btn-default" do
              %i.fa.fa-tasks.fa-fw
              &nbsp;
              Filter
          .col-md-6.text-right.search-results-summary
            %span
              Found
              %strong
                = @results.size
              listings
              - if !params[:city].empty?
                near
                %strong
                  = params[:city]

        .col-md-12
          - if @results.size > 0
            - @results.each_with_index do |listing, index|
              - if index % 2 == 0
                .row
              .col-md-6.search-listing-result
                .panel.panel.modern
                  .col-md-12.search-listing-carousel
                    - if listing.pictures.size > 0
                      - listing.pictures.each do |img|
                        .col-md-12.search-listing-item
                          %img.lazyOwl{ "data-src" => img.image.url(:small) }
                  = form_for @favorited_listing, :remote => true do
                    %i.fa.fa-bookmark-o.fa-fw.fa-2x.search-listing-result-bookmark.active
                  .panel-body.padded
                    .row
                      .col-md-7
                        .search-listing-title
                          = link_to listing.name, listing_path(listing)
                        %small
                          = listing.location.very_ambiguous_address
                      .col-md-5
                        .search-listing-rates.clearfix
                          %ul.list-unstyled.clearfix
                            - if listing.rates.size > 0
                              - listing.rates.each do |rate|
                                %li
                                  .col-md-5.text-right
                                    = rate.date_range
                                  .col-md-7.text-right
                                    = number_to_currency(rate.amount).gsub(/\.00/, "")
          
             
    #map-container.col-md-5.right-column
      #map-inner-container.row{ :style => "width: 100%; height: 100%;" }
        #map{ :style => "width: 100%; height: 100%;" }
        




- else
  #search-results-container.row
    .col-md-7.left-column
      / Filter settings
      .col-md-12
        .col-md-12
          .panel.panel-default
            .panel-body
              .row
                .col-md-6
                  = link_to "+ Filter Search", "#", :id => "filter-search-link"
                .col-md-6.text-right
                  Results for:
                  %strong
                    = params[:search]
                  - if !params[:city].nil? && params[:city] != ""
                    in
                    %strong
                      = params[:city]


:javascript
  $(document).ready(function() {
      // Adjust "search view" styles
      $("nav").addClass("navbar-fixed-top");
      $("nav").css("padding-right", "15px");
      $("body").css("padding-top", "70px");

      // Create Map
      var bounds = new google.maps.LatLngBounds();
      var map = new GMaps({
        div: "#map",
        zoom: 14,
        disableDefaultUI: true,
        zoomControl: true
      });

      var coordinates = #{@coordinates};

      for (var i = 0; i < coordinates.length; i++) {
        var rates = "";
        //var pictures = '<div class="search-listing-carousel-map">';

        $.each(coordinates[i].rates, function(key, value) {
          rates += '<div class="col-md-6">'
                +     key
                +  '</div>'
                +  '<div class="col-md-6 text-right">'
                +     '$' + value
                +  '</div>' 
        });

        /* $.each(coordinates[i].pictures, function(key, value) {
          pictures += '<div class="search-listing-item">'
                    +   '<img class="lazyOwl" data-src="' + value + '">'
                    + '</div>';
        });

        pictures += '</div>'; */



        var marker = map.addMarker({
          lat: coordinates[i].lat,
          lng: coordinates[i].lng,
          title: coordinates[i].title,
          position: new google.maps.LatLng(coordinates[i].lat, coordinates[i].lng),
          infoWindow: {
            content: '<div class="overlay">' 
                        + '<a href="/listings/' + coordinates[i].slug + '">' + coordinates[i].title + '</a>'
                    //+ '<div class="row">'
                    //+   pictures
                    //+ '</div>'
                    + '<ul class="list-unstyled">'
                    +   '<li>'
                    +     '<div class="row">'
                    +       rates
                    +     '</div>'
                    +   '</li>'
                    + '</ul>'
                  + '</div>'
          }
        });

        bounds.extend(marker.position);
        map.fitBounds(bounds);
      }
  });
