.row.fight-navbar-margin
  .col-md-12
    #listing-slideshow.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        - @listing.pictures.each_with_index do |pic, index|
          - if index == 0
            %li.active{"data-slide-to" => "#{index}", "data-target" => "#listing-slideshow"}
          - else
            %li{"data-slide-to" => "#{index}", "data-target" => "#listing-slideshow"}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        - @listing.pictures.each_with_index do |pic, index|
          - if index == 0
            .item.active
              = image_tag pic.image.url(:original), :class => "img-responsive"
          - else
            .item
              = image_tag pic.image.url(:original), :class => "img-responsive"
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#listing-slideshow", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#listing-slideshow", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next

#listing-profile
  .col-md-3
  .col-md-6
    %h3
      = @listing.name
    %h4 
      = @listing.location.street_address
      = @listing.location.city
      = @listing.location.state
  .col-md-3

#listing-description.col-md-12
  .col-md-3
  .col-md-6
    %h3
      Description
    %p
      = raw(@listing.description)
  .col-md-3
  
#listing-profile
  .col-md-3
  .col-md-6
    = form_for @reservation, :url => users_path, :html => {:id => "registration_form"} do |f|
      %h3
        Request Booking
      %table.table
        %thead
          %th
            Start
          %th
            End
        %tbody
          %tr
            %td
              = f.text_field :from_date, :class => "form-control", :placeholder => "Start Date"
            %td
              = f.text_field :to_date, :class => "form-control", :placeholder => "End Date"
          %tr
            %td
              = f.submit "Request", :class => "btn btn-warning"
            %td
              = f.submit "Contact Renter", :class => "btn btn-info"
  .col-md-3
  
#listing-description.col-md-12
  .col-md-3
  .col-md-6
    %h3
      About the Renter
    %h4 
      I am a cool dude, looking to rent my garage for whatever you need!
  .col-md-3
  
#google-map.col-md-12
  .col-md-12
    #map
    

= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"
= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"


:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map' }});