#listing-cover-photo-backdrop.counter-navbar-margin.row
  #listing-cover-photo.section.row{ :style => "background: url('#{@listing.pictures.first.image.url(:large)}') no-repeat center;" }

#listing-details.row

  / Left Side
  #listing-left-side.col-md-6

    / Thumbnail Images
    .panel.panel-default.modern
      .panel-body.padded
        %ul.list-unstyled.list-inline.text-center
          - if @listing.pictures
            - @listing.pictures.each_with_index do |image, index|

              - if index == 0
                %li.listing-thumb.active
                  = link_to "#", :id => "img-#{image.id}", :class => "thumbnail", "data-selector" => "#{image.image.url(:large)}" do
                    = image_tag image.image.url(:thumb), :class => "img-responsive"
              - else
                %li.listing-thumb
                  = link_to "#", :id => "img-#{image.id}", :class => "thumbnail", "data-selector" => "#{image.image.url(:large)}" do
                    = image_tag image.image.url(:thumb), :class => "img-responsive"

    .panel.panel-default.modern
      .panel-body.padded
        .row
          .col-md-12
            %h4 Reviews
      %table.table.table-bordered
        %tbody
          %tr
            %td#rate-section
              #numerical-give-rating.col-md-12.text-center
                0
              #verbal-give-rating.col-md-12.text-center
              #button-give-rating.col-md-12.text-center.rate-sub-section
                - (0..9).each do |index|
                  - if index == 0
                    / Offset first one by one column
                    %i.fa.fa-circle-o.fa-fw.fa-lg.col-md-1.col-md-offset-1.rate-icon{ :id => "rate-give-#{index}" }
                  - else
                    %i.fa.fa-circle-o.fa-fw.fa-lg.col-md-1.rate-icon{ :id => "rate-give-#{index}" }



  / Right Side
  #listing-right-side.col-md-6

    / User Info & Listing Name
    .panel.panel-default.modern
      .panel-body.padded
        .row
          .col-md-8
            %h4
              = @listing.name
          .col-md-4.text-right
            = button_tag "Make A Request", :id => "make-a-request-btn", :class => "btn btn-primary", "data-toggle" => "modal", "data-target" => ".modal-launch-1"
                

    .panel.panel-default.modern
      .panel-body.padded
        #user-info.row
          #user-photo.col-md-3
            = image_tag @listing.pictures.first.image.url(:thumb), :class => "img-responsive"
          .col-md-4
            Posted By:
            %br
            %p.lead
              = @listing.user.first_name
          .col-md-5
            %strong
              Listing Posted:
            %br
            %p
              = @listing.created_at.strftime("%B %d, %Y")
            - if @listing.periods.first.end
              %strong
                Ends
              %br
              %p.error
                = @listing.periods.first.end.strftime("%B %d, %Y")




    / Listing Rates
    .panel.panel-default.modern
      .panel-body.padded
        .row
          .col-md-12
            %h4 Rates
      %table.table.table-bordered
        %tbody
          - @listing.rates.each do |rate|
            %tr
              %th
                = rate.date_range
              %td
                = number_to_currency(rate.amount)

    / Listing Pictures
    .panel.panel-default.modern
      .panel-body.padded
        .row
          .col-md-12
            %h4
              Description
          .col-md-12
            = safe_join(@listing.description.split("\r\n"), "<br />".html_safe)

- if @current_user
  / Reservation Modal
  = render 'listings/reservation_modal'
- else
  = render 'layouts/login_or_register_modal'


:javascript
  $(document).ready(function() {

    // For Hourly rates only
    $("#start").datetimepicker().on("dp.change", function(e) {
      if ($("#end").val() !== "") {
        // Get total hours and estimated total
        totalHours = getTotalHours($("#start").val(), $("#end").val());
        estimatedTotal = totalHours * #{@listing.rates.hourly.first.amount};

        // Append the rate to the Review Section
        $(".review-rate").html(totalHours + " x " + "#{number_to_currency(@listing.rates.hourly.first.amount)}");

        // Update the estimates review
        updateEstimates(totalHours, estimatedTotal);
      }
    });

    // For Hourly rates only
    $("#end").datetimepicker().on("dp.change", function(e) {
      // Get total hours and estimated total
      totalHours = getTotalHours($("#start").val(), $("#end").val());
      estimatedTotal = totalHours * #{@listing.rates.hourly.first.amount};

      // Append the rate to the Review Section
      $(".review-rate").html(totalHours + " x " + "#{number_to_currency(@listing.rates.hourly.first.amount)}");
      
      // Update the estimates review
      updateEstimates(totalHours, estimatedTotal);
    });

    function updateEstimates(totalHours, estimatedTotal) {
      $(".total-time-amount").html(totalHours + " hrs");
      $(".estimated-total-amount").html("$" + estimatedTotal + ".00");
      $(".review-time-amount").html(totalHours);

      // For Review Section
      $(".review-total").html("$" + estimatedTotal + ".00");
    }

    function getTotalHours(startTime, endTime) {
      var ms = moment(endTime, "hh:mm A - ddd, MMM D").diff(moment(startTime, "hh:mm A - ddd, MMM D"));
      var d = moment.duration(ms);
      var s = Math.floor(d.asHours());
      return s;
    }
  });

  