#listing-cover-photo-backdrop.counter-navbar-margin.row
  #listing-cover-rates.col-md-2
    .panel.modern.padded.clearfix
      - if @listing.rates.size > 0
        - @listing.rates.order("created_at ASC").each do |rate|
          %ul.list-unstyled
            %li
              .col-md-4
                = rate.date_range[0,1].capitalize
              .col-md-8
                = number_to_currency(rate.amount).gsub(/\.00/, "")

  #listing-cover-photo.section.row{ :style => "background: url('#{@listing.pictures.first.image.url(:large)}') no-repeat center;" }

#listing-details.row

  / Left Side
  #listing-left-side.col-md-7

    / Thumbnail Images
    .panel.panel-default.modern
      .panel-body.padded
        %ul.list-unstyled.list-inline.text-center
          - if @listing.pictures
            - @listing.pictures.each_with_index do |image, index|

              - if index == 0
                %li.listing-thumb.active
                  = link_to "#", :id => "img-#{image.id}", :class => "thumbnail", "data-selector" => "#{image.image.url(:large)}" do
                    = image_tag image.image.url(:thumb), :class => "img-responsive"
              - else
                %li.listing-thumb
                  = link_to "#", :id => "img-#{image.id}", :class => "thumbnail", "data-selector" => "#{image.image.url(:large)}" do
                    = image_tag image.image.url(:thumb), :class => "img-responsive"

    .panel.panel-default.modern
      .panel-body.padded
        .row
          .col-md-12
            %h4 Reviews
      %table.table.table-bordered
        %tbody
          %tr
            %td#rate-section
              #numerical-give-rating.col-md-12.text-center
                0
              #verbal-give-rating.col-md-12.text-center
              #button-give-rating.col-md-12.text-center.rate-sub-section
                - (0..9).each do |index|
                  - if index == 0
                    / Offset first one by one column
                    %i.fa.fa-circle-o.fa-fw.fa-lg.col-md-1.col-md-offset-1.rate-icon{ :id => "rate-give-#{index}" }
                  - else
                    %i.fa.fa-circle-o.fa-fw.fa-lg.col-md-1.rate-icon{ :id => "rate-give-#{index}" }



  / Right Side
  #listing-right-side.col-md-5

    / User Info & Listing Name
    .panel.panel-default.modern
      .panel-body.padded
        .row
          .col-md-8
            %h4
              = @listing.name
          .col-md-4.text-right
            - if @current_user && @listing.user != @current_user
              = button_tag "Make A Request", :id => "make-a-request-btn", :class => "btn btn-primary", "data-toggle" => "modal", "data-target" => ".modal-launch-1"
            - else
              = link_to edit_listing_path(@listing), :class => "btn btn-default" do
                %i.fa.fa-cog.fa-fw
                Edit
          .col-md-12
            = safe_join(@listing.description.split("\r\n"), "<br />".html_safe)

                

    .panel.panel-default.modern
      .panel-body.padded
        #user-info.row
          #user-photo.col-md-3
            = image_tag @listing.pictures.first.image.url(:thumb), :class => "img-responsive"
          .col-md-4
            Posted By:
            %br
            %p.lead
              = @listing.user.first_name
            %br
            - if @current_user && @listing.user != @current_user
              = button_tag :class => "btn btn-default", "data-toggle" => "modal", "data-target" => ".modal-launch-2" do
                %i.fa.fa-envelope.fa-fw
                &nbsp;
                Contact
          .col-md-5
            %strong
              Listing Posted:
            %br
            %p
              = @listing.created_at.strftime("%B %d, %Y")
            - if @listing.periods.first.end
              %strong
                Ends
              %br
              %p.error
                = @listing.periods.first.end.strftime("%B %d, %Y")




    / Listing Rates
    .panel.panel-default.modern
      .panel-body.padded
        .row
          .col-md-12
            %h4 Rates
      %table.table.table-bordered
        %tbody
          - @listing.rates.order("created_at ASC").each do |rate|
            %tr
              %th
                = rate.date_range
              %td
                = number_to_currency(rate.amount)

    .col-md-12.text-right
      %small
        = link_to new_listing_report_path(@listing) do
          %i.fa.fa-flag.fa-fw
          &nbsp;
          Report This Listing

- if @current_user && @listing.user != @current_user
  @slug = @listing.user.slug

  / Reservation Modal
  = render 'listings/reservation_modal'
  = render 'messages/compose'
- elsif !@current_user
  = render 'layouts/login_or_register_modal'


:javascript
  $(document).ready(function() {

    $(".resrv-next-btn").on("click", function() {
      if ($("#reservation-step-2").hasClass("active")) {
        var timeRange = $(".rate-radio-btn:checked").data("time-range");
        calculate(timeRange);
      }
    });

    // For Hourly and Daily rates only
    $("#start").datetimepicker().on("dp.change", function(e) {
      if ($("#end").val() !== "") {
        var timeRange = $(".rate-radio-btn:checked").data("time-range");
        calculate(timeRange);
      }
    });

    // For Hourly and Daily rates only
    $("#end").datetimepicker().on("dp.change", function(e) {
      var timeRange = $(".rate-radio-btn:checked").data("time-range");
      calculate(timeRange);
    });


    function calculate(timeRange) {
      //Hourly
      if (timeRange === "hourly") {
        // Get total hours and estimated total
        totalHours = getTotalHours($("#start").val(), $("#end").val());
        estimatedTotal = totalHours * #{@listing.rates.hourly.first.amount};

        appendToReview(totalHours, "hours", "#{number_to_currency(@listing.rates.hourly.first.amount)}");

        // Update the estimates review
        updateEstimates(totalHours, estimatedTotal, "hrs");


      // Daily
      } else if (timeRange === "daily") {
        totalDays = getTotalDays($("#start").val(), $("#end").val());
        totalDays++; // Increment by one because same start and end date implies "one day"
        estimatedTotal = totalDays * #{@listing.rates.daily.first.amount};
        updateEstimates(totalDays, estimatedTotal, "days");

        appendToReview(totalDays, "days", "#{number_to_currency(@listing.rates.daily.first.amount)}");
      }
    }


    function appendToReview(timeAmount, timeType, rateAmount) {
      $(".review-start-date").html($("#start").val());
      $(".review-end-date").html($("#end").val());
      $(".review-rate").html(timeAmount + " " + timeType + " x " + rateAmount);
    }

    function updateEstimates(timeTotal, estimatedTotal, shortTimeRange) {
      $(".total-time-amount").html(timeTotal + " " + shortTimeRange);
      $(".estimated-total-amount").html("$" + estimatedTotal + ".00");
      $(".review-time-amount").html(timeTotal);

      // For Review Section
      $(".review-total").html("$" + estimatedTotal + ".00");
    }

    function getTotalHours(startTime, endTime) {
      var ms = moment(endTime, "hh:mm A - ddd, MMM D").diff(moment(startTime, "hh:mm A - ddd, MMM D"));
      var d = moment.duration(ms);
      var s = parseFloat(d.asHours());
      return s;
    }

    function getTotalDays(startTime, endTime) {
      var ms = moment(endTime, "ddd, MMM D").diff(moment(startTime, "ddd, MMM D"));
      var d = moment.duration(ms);
      var s = Math.floor(d.asDays());
      return s;
    }
  });

  