#carousel-container.row.fight-navbar-margin
  .col-md-12
    #listing-slideshow.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        - @listing.pictures.each_with_index do |pic, index|
          - if index == 0
            %li.active{"data-slide-to" => "#{index}", "data-target" => "#listing-slideshow"}
          - else
            %li{"data-slide-to" => "#{index}", "data-target" => "#listing-slideshow"}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        - @listing.pictures.each_with_index do |pic, index|
          - if index == 0
            .item.active
              = image_tag pic.image.url(:original), :class => "img-responsive"
          - else
            .item
              = image_tag pic.image.url(:original), :class => "img-responsive"
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#listing-slideshow", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#listing-slideshow", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
    .col-md-4.listing-name-display
      .col-md-12
        .panel.panel-default
          .panel-body
            %h5
              = @listing.name
              %br
              %br
            .row
              .col-md-6
                %small
                  = "#{@listing.location.city}, #{@listing.location.state}"
              .col-md-6.text-right
                = button_tag "Book it!", :class => "btn btn-primary"
            / .row
            /   .col-md-12
            /     #specific_dates.date-selection-area
            /       = form_for @reservation do |f|
            /         #datepicker.input-daterange.input-group
            /           = f.text_field :from_date, :id => "start-date", :class => "input-sm form-control", :contenteditable => false
            /           %span.input-group-addon to
            /           = f.text_field :to_date, :id => "end-date", :class => "input-sm form-control", :contenteditable => false
    .col-md-8.rate-display
      .col-md-3.col-md-offset-9
        .panel
          .panel-body
            %ul.list-unstyled.rates-list
              - @listing.rates.each do |rate|
                %li
                  %span.rate-amount
                    = number_to_currency(rate.amount).gsub(/\.00$/, "")
                  %span.rate-date-range
                    = rate.date_range


#listing-details.col-md-12
  .col-md-8.col-md-offset-4
    .panel.panel-default
      .panel-body
        - if @listing.periods.first
          %p
            %strong
              Last day available:
              = @listing.periods.first.end

        = raw(@listing.description)
    
.row
  #google-map
    .col-md-12
      #map
= render 'layouts/footer'
    


:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}, provider: { scrollwheel: false }}, function(){
    var markers = handler.addMarkers(#{@coordinate});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });

  $(document).ready(function() {
    // Get today's date in mm/dd/yyyy format
    function getTodayAsMMDDYYYY() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0!
      var yyyy = today.getFullYear();

      if(dd<10) {
          dd='0'+dd
      } 

      if(mm<10) {
          mm='0'+mm
      } 

      return today = mm+'/'+dd+'/'+yyyy;
    }

    function makeOpaque() {
      var section = $("#listing_periods_specific_dates").data("section");

      if ($("#listing_periods_specific_dates").is(":checked")) {
        $(section).css("opacity", "1.0");
        $(section + " input").removeAttr("disabled");
      } else {
        $(section).css("opacity", "0.3");
        $(section + " input").attr("disabled", "disabled");
      }
    }


    /* 
     * Credit to: user2586273 from StackOverflow for this bit of code, which is found here:
     * http://stackoverflow.com/questions/11933173/how-to-restrict-the-selectable-date-ranges-in-bootstrap-datepicker
     * Thanks, bro.
     */
    var startDate = new Date('01/01/2012');
    var FromEndDate = new Date();
    var ToEndDate = new Date();

    ToEndDate.setDate(ToEndDate.getDate()+365);

    $('#start-date').datepicker({
        weekStart: 1,
        startDate: getTodayAsMMDDYYYY(),
        autoclose: true
    }).on('changeDate', function(selected){
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $('#end-date').datepicker('setStartDate', startDate);
    }); 
    
    $('#end-date').datepicker({
        weekStart: 1,
        startDate: startDate,
        endDate: ToEndDate,
        autoclose: true
    }).on('changeDate', function(selected){
        FromEndDate = new Date(selected.date.valueOf());
        FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
        $('#start-date').datepicker('setEndDate', FromEndDate);
    });
  });