.row
  .col-md-12
    .col-md-7
      %h4
        = @listing.name
%hr
.row
  .col-md-12
    .owl-carousel
      - @listing.pictures.each do |pic|
        %div
          = image_tag pic.image.url(:small)
%hr
#show-description.row
  .col-md-12
    .col-md-6
      %p.lead
        Description
      = raw(@listing.description)
    .col-md-6
      %p.lead
        Rates
      %table.table
        - @listing.rates.each do |rate|
          %tr
            %td
              = number_to_currency(rate.amount)
            %td
              = rate.date_range

:javascript
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
      items: 6
    });
  });