/ Random background images
- if current_page?(root_path)
  - @bg_imgs = Array.new
  - @bg_imgs = ["ocean-sunset.jpeg", "ocean-sunset-2.JPG", "city-img-1.jpeg", "city-img-2.jpeg"]
  - randomNumber = rand(0..(@bg_imgs.length - 1))
  - @current_bg_img = @bg_imgs[randomNumber]

.row.title-search{:style => "background: url('assets/#{@current_bg_img}') no-repeat;", :class => ("title-search-hompage" unless !current_page?(root_path))}
  .col-md-8
    .row
      .col-md-12.header-title
        %h2
          SpaceLender
          %br
          %small
            Find space for the things you need to do.
      .col-md-12
        = form_tag(users_search_path) do
          .input-group.search-input-group
            %span#search-icon-addon.input-group-addon
              %span.glyphicon.glyphicon-search
            = text_field_tag :search, nil, :class => "form-control", :placeholder => "        Search for spaces.", "aria-describedby" => "search-icon-addon"
          #search-btns.col-md-12
            = button_tag :Search, :class => "btn btn-default", :value => "Search"
            = button_tag :find_near_me, :class => "btn btn-default" do
              %span.glyphicon.glyphicon-map-marker
              Find Near Me
.container
  .row.text-center
    .col-md-4
      %h3
        List
      %p
        Upload some pictures, state a renting price, and list your space. Then, wait for an interested person to contact you. You can rent out your garage for an hour or even an office for a year. Whatever you want.
    .col-md-4
      %h3
        Lend
      %p
        Lend your listed space and send your clients an invoice for the space borrowed. You can even require a deposit and make discounts.
    .col-md-4
      %h3
        Earn
      %p
        <strong>GET PAID!</strong> You just turned the free space that was always <em>just sitting there</em> into a money-maker! Even after it's been used, you can keep the listing up and allow more people to use it in the future.

:javascript
  $(document).ready(function() {
    $("#search").on("keyup", function() {
      var searchValue = $(this).val();

      if (searchValue === "") {
        $("#search-icon-addon span.glyphicon.glyphicon-search").show();
        $(".search-input-group").css("margin-left", "-16px");
      } else {
    	  $("#search-icon-addon span.glyphicon.glyphicon-search").hide();
    	  $(".search-input-group").css("margin-left", "-2px");
    	}
    });
  });