/ WELCOME PAGE
.row.title-search{:class => ("title-search-hompage" unless !current_page?(root_path))}
  .col-md-12
    .row
      .col-md-12.header-title
        %h1
          SpaceLender
          %br
          %small.header-subtitle
            Find space 
            %span.typing-animation
    .row.to-the-windows
      .col-md-12.to-the-wall
        = form_tag({:controller => "listings", :action => "search"}, :id => "search-form", :method => :get) do
          .row
            .col-md-7
              = text_field_tag :search, nil, :class => "form-control", :placeholder => "What do you need space for?", "aria-describedby" => "search-icon-addon"
            .col-md-3
              = text_field_tag :city, nil, :class => "form-control", :placeholder => "City", :id => "city"
            .col-md-2
              = submit_tag :Search, :id => "search-btn", :class => "btn btn-primary"
.homepage-footer
  = render 'layouts/footer'
