= render 'layouts/dashboard_nav'

#dashboard-content.row.section.no-shadow
  #reservations-nav.col-md-2.dashboard-inner-nav
    / Tab List
    %ul.list-unstyled.col-md-12.list-group.generic-tabs-list.reservations-inner-tabs-list
      %li.list-group-item.title
        %h5
          Reservations
      %li.list-group-item
        = link_to "#reservations-ive-made", :id => "reservations-ive-made-link", :class => "reservations-inner-tab-link active" do
          Reservations I've Made
      %li.list-group-item
        - if @requested_reservations.count > 0
          %span.badge
            = @requested_reservations.count
        = link_to "#requests", :id => "requests-link", :class => "reservations-inner-tab-link" do
          Requests
      %li.list-group-item
        = link_to "#accepted", :id => "accepted-link", :class => "reservations-inner-tab-link" do
          Accepted
      %li.list-group-item
        = link_to "#completed", :id => "completed-link", :class => "reservations-inner-tab-link" do
          Completed
  .col-md-10.col-md-offset-2
    .col-md-12
      #reservations.panel.panel-default.modern.dashboard-tab
        .panel-body.tab-display
          .form-container.row
            .col-md-12

              .col-md-12

                / Reservations I've Made
                #reservations-ive-made.reservations-inner-tab.active
                  - if @reservations_ive_made.count > 0
                    .col-md-12.padded-sides
                      %h5 Reservations I've Made
                    .row
                      - @reservations_ive_made.each do |reservation_ive_made|
                        .col-md-4.padded-sides
                          .panel.panel-default.modern
                            .panel-body
                              .col-md-12.listings-img-container
                                = image_tag reservation_ive_made.listing.pictures.first.image.url(:small), :class => "img-responsive"
                              .row.padded
                                .reservations-ive-made-listing-title.col-md-12
                                  = link_to reservation_ive_made.listing.name, listing_path(reservation_ive_made.listing)
                                .col-md-12
                                  Status:
                                  %strong
                                    %span.status{ :class => reservation_ive_made.status }
                                      = reservation_ive_made.status.capitalize
                                .col-md-12
                                  %small
                                    Posted
                                    = reservation_ive_made.listing.created_at.strftime("%B %m, %Y")
                                .view-more
                                  %table.table.table-bordered.view-more-table
                                    %tbody
                                      %tr
                                        %td
                                          Rate
                                        %td
                                          = "#{number_to_currency(reservation_ive_made.rate.amount)} #{reservation_ive_made.rate.date_range}"
                                      %tr
                                        %td
                                          Lender
                                        %td
                                          = link_to reservation_ive_made.listing.user.first_name, user_path(reservation_ive_made.listing.user)
                                      %tr
                                        %td
                                          From
                                        %td
                                          - if reservation_ive_made.rate.hourly?
                                            = reservation_ive_made.period.start.strftime("%l:%M %p, %m/%d/%y")
                                          - else
                                            = reservation_ive_made.period.start.strftime("%m/%d/%y")
                                      %tr
                                        %td
                                          To
                                        %td
                                          - if reservation_ive_made.rate.hourly?
                                            = reservation_ive_made.period.end.strftime("%l:%M %p, %m/%d/%y")
                                          - else
                                            = reservation_ive_made.period.end.strftime("%m/%d/%y")
                                %br
                                = link_to "View more", "#", :class => "view-more-link"


                            - if reservation_ive_made.accepted?
                              .panel-footer.reservations-ive-made-actions
                                .col-md-8
                                  = link_to "Pay Now", new_invoice_path(:token => reservation_ive_made.token), :class => "btn btn-primary form-control"
                                .col-md-2
                                  = link_to "#", :id => "#{reservation_ive_made.listing.user.slug}-btn", :class => "btn btn-default reservations-ive-made-contact-btn form-control", "data-toggle" => "modal"  do
                                    %i.fa.fa-envelope.fa-fw
                                .col-md-2
                                  = link_to "#", :id => "#{reservation_ive_made.listing.user.slug}-btn", :class => "btn btn-default reservations-ive-made-remove-btn form-control", "data-toggle" => "modal" do
                                    %i.fa.fa-remove.fa-fw
                            - else
                              .panel-footer.reservations-ive-made-actions
                                .col-md-6
                                  = link_to "#", :id => "#{reservation_ive_made.listing.user.slug}-btn", :class => "btn btn-default reservations-ive-made-contact-btn form-control", "data-toggle" => "modal"  do
                                    %i.fa.fa-envelope.fa-fw
                                .col-md-6
                                  = link_to "#", :id => "#{reservation_ive_made.listing.user.slug}-btn", :class => "btn btn-default reservations-ive-made-remove-btn form-control", "data-toggle" => "modal" do
                                    %i.fa.fa-remove.fa-fw
                  - else
                    .col-md-10.col-md-offset-1
                      .panel.panel-defualt.modern
                        .panel-body.padded.text-center
                          %h4
                            You haven't made any reservations!
                          %p
                            You can make a reservation by searching for listings in the Search bar.
                            %br
                            Try search for a listing you like, and clicking the "Make A Request" button.

                #requests.reservations-inner-tab
                  - if @requested_reservations.count > 0
                    - @requested_reservations.each do |requested_reservation|
                      .panel.panel-default.modern{ :id => "reserv-#{requested_reservation.listing.token }" }
                        .panel-body.padded
                          .col-md-6
                            .col-md-12
                              %big
                                = link_to requested_reservation.listing.name
                            .col-md-12
                              %strong
                                Rate Type:
                              %br
                              = requested_reservation.rate.date_range.capitalize
                            .col-md-6
                              %strong
                                Requested by:
                              %br
                              = requested_reservation.booker.first_name
                            .col-md-6
                              %strong
                                Status:
                              %br
                              %span.status.label.label-warning
                                = requested_reservation.status.capitalize
                            .col-md-12
                              %strong
                                Time Requested:
                              %br
                              = requested_reservation.created_at.strftime("%l:%m %p, %B %-d, %Y")
                            %hr
                            .col-md-12
                              %strong
                                Purpose:
                              %br
                              = requested_reservation.purpose
                          .col-md-6
                            %table.table.table-bordered
                              %tbody
                                %tr
                                  %th
                                    Total Time
                                  %td{ :colspan => "2" }
                                    - if requested_reservation.rate.hourly?
                                      = pluralize(translate_time_to_hours(requested_reservation.period.end, requested_reservation.period.start), "hour")
                                    - elsif requested_reservation.rate.daily?
                                      = pluralize(translate_time_to_days(requested_reservation.period.end, requested_reservation.period.start), "day")
                                %tr
                                  %th
                                    From
                                  %td{ :colspan => "2" }
                                    - if requested_reservation.rate.hourly?
                                      = requested_reservation.period.start.strftime("%l:%m %p, %B %-d, %Y")
                                    - else
                                      = requested_reservation.period.start.strftime("%B %-d, %Y")
                                %tr
                                  %th
                                    Until
                                  %td{ :colspan => "2" }
                                    - if requested_reservation.rate.hourly?
                                      = requested_reservation.period.end.strftime("%l:%m %p, %B %-d, %Y")
                                    - else
                                      = requested_reservation.period.end.strftime("%B %-d, %Y")
                                %tr
                                  %th Rate
                                  %td{ :colspan => "2" }
                                    - if requested_reservation.rate.hourly?
                                      = translate_time_to_hours(requested_reservation.period.end, requested_reservation.period.start)
                                      x
                                      = "#{number_to_currency(requested_reservation.rate.amount)}/#{requested_reservation.rate.date_range}"
                                      = "= #{number_to_currency(requested_reservation.subtotal)}"
                                    - elsif requested_reservation.rate.daily?
                                      = translate_time_to_days(requested_reservation.period.end, requested_reservation.period.start)
                                      x
                                      = "#{number_to_currency(requested_reservation.rate.amount)}/#{requested_reservation.rate.date_range}"
                                      = "= #{number_to_currency(requested_reservation.subtotal)}"
                                %tr
                                  %td
                                    SL Fee
                                  %td
                                    = number_to_currency(requested_reservation.fee)
                              %tfoot
                                %tr
                                  %th
                                    Total
                                  %td.success{ :colspan => "2" }
                                    = number_to_currency(requested_reservation.subtotal - requested_reservation.fee)
                            .accept-reject-contanct-btns.row
                              .col-md-4
                                = link_to "Accept", accept_reservation_path(requested_reservation), :class => "btn btn-primary form-control", :remote => true, :method => :post
                              .col-md-4
                                = link_to "Reject", reject_reservation_path(requested_reservation), :class => "btn btn-default form-control", :remote => true, :method => :post
                              .col-md-4
                                = link_to "Contact", "#", :class => "btn btn-default form-control"
                  - else
                    .col-md-10.col-md-offset-1
                      .panel.panel-defualt.modern
                        .panel-body.padded.text-center
                          %h4
                            No Requests right now.
                          %p
                            We'll send you an email and a notification on your dashboard when 
                            %br
                            someone sends you a request for one of your listings in the future. 
                            %br
                            You can approve/reject them here.


- if @current_user
  / Reservation Modal
  = render 'messages/compose'
- elsif !@current_user
  = render 'layouts/login_or_register_modal'
                                      

:javascript
  $(document).ready(function() {
    var id = "";

    $(".reservations-ive-made-contact-btn").on("click", function() {
      var buttonId = $(this).attr("id");
      id = buttonId.replace("-btn", "");

      $(".modal-launch-2").modal('show');
    });

    $("#new-message-form").on("submit", function(e) {
      e.preventDefault();

      $(this).append("<input type='hidden' name='message[receiver]' value='" + id + "' />");
    });
  });                                      

- if params[:d]
  :javascript
    // Defaults to specific tab if one is specified
    $(document).ready(function() {
      if ("#{params[:d]}" !== "") {

        $(".reservations-inner-tab-link").removeClass("active");

        $("##{params[:d]}-link").addClass("active");

        $(".reservations-inner-tab").removeClass("active");
        $("##{params[:d]}").addClass("active");
      }
    });
