#dashboard-nav-bar.row.fight-navbar-margin
  .col-md-9.col-md-offset-3
    %ul#dashboard-nav-bar-links.list-unstyled.list-inline.text-center
      %li.col-md-2{ :class => ("active" if current_page?(dashboard_path)) }
        = link_to dashboard_path do
          Dashboard
      %li.col-md-2{ :class => ("active" if current_page?(listings_path)) }
        = link_to listings_path do
          Listings
      %li.col-md-2{ :class => ("active" if current_page?(new_listing_path)) }
        = link_to new_listing_path do
          List A Space
      %li.col-md-2{ :class => ("active" if current_page?(reservations_path)) }
        = link_to reservations_path do
          Reservations
      %li.col-md-2{ :class => ("active" if current_page?(transactions_path)) }
        = link_to transactions_path do
          Transactions