.panel.panel-default
  .panel-body
    - if flash[:notice]
      .alert.alert-success
        = flash[:notice]
    %strong
      = pluralize(@current_user.listings.count, "listing")
    active.
  %table.table.table-striped
    - @current_user.listings.each do |listing|
      %tr
        %td
          = link_to listing.name, listing_path(listing)
        %td
          = listing.location.full_street_address
        %td
          = link_to "Edit", edit_listing_path(listing)
  %br
    .row
      .col-md-12.text-center
        = button_tag "See Older Listings", :class => "btn btn-default"
