.panel.panel-default
  .panel-body
    = render 'layouts/success_error_reporting'
    
    %strong
      = pluralize(@activeListings.count, "listing")
    active.
    = " | "
    %strong
      = pluralize(@inactiveListings.count, "listing")
    inactive.
  - if @activeListings.count > 0
    %table.table.table-striped
      %caption
        Active
      - @activeListings.each do |listing|
        %tr
          %td
            = link_to listing.name, listing_path(listing)
          %td
            = listing.location.full_street_address
          %td
            = link_to "Edit", edit_listing_path(listing)
          - if listing.active?
            %td
              = link_to "Deactivate", deactivate_listing_path(listing), :method => :post
          - else
            %td
              = link_to "Reactivate", reactivate_listing_path(listing), :method => :post
            %td
              = link_to listing_path(listing), :method => :delete do
                %i.fa.fa-remove.fa-lg.fa-fw
    %br
  - if @inactiveListings.count > 0
    %table.table.table-striped
      %caption
        Inactive
      - @inactiveListings.each do |listing|
        %tr
          %td
            = link_to listing.name, listing_path(listing)
          %td
            = listing.location.full_street_address
          %td
            = link_to "Edit", edit_listing_path(listing)
          - if listing.active?
            %td
              = link_to "Deactivate", deactivate_listing_path(listing), :method => :post
          - else
            %td
              = link_to "Reactivate", reactivate_listing_path(listing), :method => :post
            %td
              = link_to listing_path(listing), :method => :delete do
                %i.fa.fa-remove.fa-lg.fa-fw
  %br
    .row
      .col-md-12.text-center
        = button_tag "See Older Listings", :class => "btn btn-default"
