%nav.navbar.navbar-default{:class => ("navbar-homepage" unless !current_page?(root_path))}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if !current_page?(root_path)
        = link_to "SpaceLender (Logo)", root_path, :class => "navbar-brand"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - if !current_page?(root_path)
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "#"}
              Link
              %span.sr-only (current)
          %li
            %a{:href => "#"} Link
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group
            %input#nav-search-bar.form-control{:placeholder => "Search", :type => "text"}
          %button#nav-search-bar-btn.btn.btn-default{:type => "submit"}
            %span.glyphicon.glyphicon-search
      - else
        %ul.nav.navbar-nav.navbar-right
          - if @current_user
            %li
              %a{:href => "#"} Link
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = @current_user.first_name
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
                %li.divider
                %li
                  = link_to logout_path do
                    %span.glyphicon.glyphicon-log-out
                    Log Out
          - else
            %li
              = link_to "Register", registration_path
            %li
              = link_to "Login", login_path