- if flash[:notice]
  .alert.alert-success.alert-dismissible
    = button_tag :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close" do
      %span{ "aria-hidden" => true }
        &times;
    = flash[:notice]
- elsif flash[:danger]
  .alert.alert-danger.alert-dismissible
    = button_tag :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close" do
      %span{ "aria-hidden" => true }
        &times;
    = flash[:danger]
- elsif flash[:message]
  / NEUTRAL alert
  .alert.alert-warning.alert-dismissible
    = button_tag :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close" do
      %span{ "aria-hidden" => true }
        &times;
    = flash[:message]