<!DOCTYPE html>
<html>
<head>
  <title>SpaceLender</title>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry;key=AIzaSyAJYU3O00L8NdeRV3gTRNx1op8wH9B-aSQ" %>
  <!--<script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"></script>-->
  <!--<script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stripe_javascript_tag %>
</head>
<body>

<%= render 'layouts/nav' %>
<%= yield %>

</body>
</html>
