<!DOCTYPE html>
<html>
<head>
  <title>SpaceLender</title>

  <%= yield :head %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stripe_javascript_tag %>
</head>
<body>

<div class="loading-overlay">
	<%= image_tag "ring-alt.gif", :class => "loading-gif" %>
</div>

<%= render 'layouts/nav' %>
<%= yield %>

</body>
</html>
