<!DOCTYPE html>
<html>
<head>
  <title>Spacemaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav' %>
<%= yield %>

<script type="text/javascript">
	$(document).ready(function() {
		$("#nav-search-bar").focusin(function() {
			$("#nav-search-bar-btn").css("border-bottom", "2px solid #2196F3");
			$("#nav-search-bar-btn").css("margin-top", "0px");
		});

		$("#nav-search-bar").focusout(function() {
			$("#nav-search-bar-btn").css("border-bottom", "1px solid #EEE");
			$("#nav-search-bar-btn").css("margin-top", "1px");
		});
	});
</script>
</body>
</html>
